@model StepForward.Models.SectionTypeViewModel

<h2>Edit Section Type</h2>

@using (Html.BeginForm("EditSectionType", "Home", FormMethod.Post))
{
    @Html.HiddenFor(model => model.NewSectionType.Id)

<div>
    @Html.LabelFor(model => model.NewSectionType.Name)
    @Html.EditorFor(model => model.NewSectionType.Name)

    @if (!Model.IsSuccess && Model.SourceAction == "PostEditSectionType")
    {
        <label>@Model.Message</label>
    }
</div>

    <div>
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
}



