@model IEnumerable<StepForward.Models.Section_Type>

<h2>Section Types</h2>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
<ul>
    @foreach (var sectiontype in Model)
    {
        <li>@sectiontype.Id - @sectiontype.Name</li>
    }
</ul>